<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/class.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>InformatiX - Vizualizare problema</title>
</head>
<body>
    <div class="nav" style="height: auto;">
        <input type="checkbox" id="nav-check">
        <div class="nav-header">
            <div class="nav-title">
                <a href="/home" target="_self">InformatiX</a>
            </div>
        </div>
        <div class="nav-btn">
            <label for="nav-check">
                <span></span>
                <span></span>
                <span></span>
            </label>
        </div>
    
        <div class="nav-links">
            <a href="/problemlist" target="_self">Probleme</a>
            <a href="/classlist" target="_self">Clasele mele</a>
            <a class="right-links logout-button-js" href="/" target="_self">Deconectare</a>
            <a class="right-links" href="/account" target="_self">Contul meu</a>
        </div>
    </div>
    <div class="class-container">
        <div class="description-container">
            <h2 class="class-name"><%= classInfo.name %></h2>
            <div class="tags-container">
                <div class="tag tag-author">
                    <h3>Profesor:</h3>
                    <span class="author"><%= classInfo.teacher %></span>
                </div>
                <div class="tag tag-students">
                    <h3>Numarul de studenti:</h3> 
                    <%= classInfo.studentCount %>
                </div>
                <div class="tag tag-grade">
                    <h3>Temă:</h3>
                    <span class="grade"><%= classInfo.hasHomework %></span>
                </div>
            </div>
            <div class="buttons">
                <button class="button" id="see-homework-btn" data-problem-id="<%= classInfo.problemId %>">Vezi tema</button> 
            </div>
            <table class="students_table">

                <thead>
                    <tr>
                        <th class="student-name-student">Nume Student</th>
                        <th class="student-homework-status">Status tema</th>
                        <th class="student-delivery-date">Data predare</th>
                        <th class="student-deadline">Termen limita</th>
                    </tr>
                </thead>

                <tbody>
                    <tr class="student">
                        <% for(let student of studentList) { %>
                            <tr class="student">
                                <td class="student-name-student" data-title="Nume Student">
                                    <%= student.name %>
                                </td>
        
                                <td class="student-homework-status" data-title="Status tema">
                                    <%= student.status %>
                                </td>
        
                                <td class="student-delivery-date" data-title="Data predare">
                                    <%= student.sendDate %>
                                </td>
        
                                <td class="student-deadline" data-title="Termen limita">
                                    <%= student.deadline %>
                                </td>
                                
                            </tr>
                            <% } %>
                    </tr>
                   
                </tbody>
            </table>
        </div>
    </div>
    <div class="footer">© 2023 InformatiX. All rights reserved.</div>
    <script src="/scripts/logout.js"></script>

</body>
</html>
