<!DOCTYPE html>
<html lang="ro">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/class.css">
    <link rel="stylesheet" href="/styles/navbar.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <title>InformatiX - Vizualizare problema</title>
</head>
<body>
<div class="nav" style="height: auto;">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            <a href="/home" target="_self">InformatiX</a>
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="/problemlist" target="_self">Probleme</a>
        <a href="/classlist" target="_self">Clasele mele</a>
        <a class="right-links logout-button-js" href="index.html" target="_self">Deconectare</a>
        <a class="right-links" href="/account" target="_self">Contul meu</a>
    </div>
</div>
<div class="class-container">
    <div class="description-container">
        <h2 class="class-name"><%= classInfo.name %></h2>
        <div class="tags-container">
            <div class="tag tag-author">
                <h3>Profesor:</h3>
                <span class="author"><%= classInfo.teacher %></span>
            </div>
            <div class="tag tag-students">
                <h3>Numarul de studenti:</h3>
                <%= classInfo.studentCount %>
            </div>
            <div class="tag tag-grade">
                <h3>Temă:</h3>
                <span class="grade"><%= classInfo.hasHomework %></span>
            </div>
            <p id="class-code" hidden> <%= classInfo.code %> </p>
            <p id="class-id" hidden> <%= classInfo.id %> </p>
        </div>
        <div class="buttons">
            <button class="button" id="copy-code-btn">Copiaza cod clasa</button>
            <button class="button" id="add-homework-btn">Adaugare tema</button>
            <button class="button" id="see-homework-btn">Vezi tema</button>
        </div>
        <table class="students_table">

            <thead>
            <tr>
                <th class="student-name-student">Nume Student</th>
                <th class="student-homework-status">Status tema</th>
                <th class="student-delivery-date">Data predare</th>
                <th class="student-deadline">Termen limita</th>
                <th class="student-actions">Vizualizare tema</th>
            </tr>
            </thead>

            <tbody>
            <% for(let student of studentList) { %>
                <tr class="student">
                    <td class="student-name-student" data-title="Nume Student">
                        <%= student.name %>
                    </td>

                    <td class="student-homework-status" data-title="Status tema">
                        <%= student.status %>
                    </td>

                    <td class="student-delivery-date" data-title="Data predare">
                        <%= student.sendDate %>
                    </td>

                    <td class="student-deadline" data-title="Termen limita">
                        <%= student.deadline %>
                    </td>
                    <td class="student-actions" data-title="Vizualizare tema">
                        <a href="<%= student.problemUrl %>">View</a>
                    </td>
                </tr>
            <% } %>
            </tbody>
        </table>
    </div>
</div>
<div class="footer">© 2023 InformatiX. All rights reserved.</div>
<div class="modal-container">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close">&times;</span>
        </div>
        <div class="modal-body">
            <form id="problemForm">
                <div class="form-group-modal">
                    <label for="title">Titlu</label>
                    <input type="text" id="title" name="title" required>
                </div>
                <div class="form-group-modal">
                    <label for="deadline">Deadline</label>
                    <input type="date" id="deadline" name="deadline" required>
                </div>
                <div class="form-group-modal">
                    <label for="problem">Problemă</label>
                    <select id="problem" name="problem" required>
                        <option value="1">Problema 1</option>
                        <option value="2">Problema 2</option>
                        <option value="3">Problema 3</option>
                        <option value="4">Problema 4</option>
                        <option value="5">Problema 5</option>
                        <option value="6">Problema 6</option>
                        <option value="7">Problema 7</option>
                        <option value="8">Problema 8</option>
                        <option value="9">Problema 9</option>
                        <option value="10">Problema 10</option>
                    </select>
                </div>
                <div class="button-container">
                    <button type="submit" class="send-grade-button">Trimite</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        let today = new Date();
        today.setDate(today.getDate() + 1);

        const dd = String(today.getDate()).padStart(2, '0');
        const mm = String(today.getMonth() + 1).padStart(2, '0');
        const yyyy = today.getFullYear();

        today = yyyy + '-' + mm + '-' + dd;
        document.getElementById("deadline").min = today;
    });
</script>


<script src="/scripts/logout.js"></script>
<script src="/scripts/class.js"></script>

</body>
</html>
