<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InformatiX - Contul meu</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/myAccount.css">
</head>
<body>
<div class="nav" style="height: auto;">
    <input type="checkbox" id="nav-check">
    <div class="nav-header">
        <div class="nav-title">
            <a href="/home" target="_self">InformatiX</a>
        </div>
    </div>
    <div class="nav-btn">
        <label for="nav-check">
            <span></span>
            <span></span>
            <span></span>
        </label>
    </div>

    <div class="nav-links">
        <a href="/problemlist" target="_self">Probleme</a>
        <a href="/classlist" target="_self">Clasele mele</a>
        <a class="right-links logout-button-js" href="/" target="_self">Deconectare</a>
        <a class="right-links" href="/account" target="_self">Contul meu</a>
    </div>
</div>

<div class="main-container">
    <div class="left-side-container">
        <div class="user-container">
            <div class="user-profile">
                <img src="assets/profile_picture_placeholder.png" alt="pfp">
                <p class="username"><%= user.username %></p>
            </div>
            <div class="information-panel">
                <div class="user-information">
                    <p>Email:</p>
                    <p><%= user.email %></p>
                </div>
                <div class="separator"></div>
                <div class="user-information">
                    <p>Nume:</p>
                    <p><%= user.lastName %></p>
                </div>
                <div class="separator"></div>
                <div class="user-information">
                    <p>Prenume</p>
                    <p><%= user.firstName %></p>
                </div>
                <div class="separator"></div>
                <div class="user-information">
                    <p>Judet</p>
                    <p><%= user.address.state %></p>
                </div>
                <div class="separator"></div>
                <div class="user-information">
                    <p>Localitate: </p>
                    <p><%= user.address.city %></p>
                </div>
                <div class="separator"></div>
                <div class="user-information">
                    <p>Tara:</p>
                    <p><%= user.address.country %></p>
                </div>
                <div class="separator"></div>
                <div class="user-information">
                    <p>Descriere:</p>
                    <p><%= user.description %></p>
                </div>
            </div>
            <div class="settings-button">
                <a href="/account/edit">
                    <button class="code-button" id="settings">Setari</button>
                </a>
            </div>
        </div>
    </div>
    <div class="right-side-container">
        <div class="problems-container">
            <div class="problems-title">
                <p>Probleme verificate</p>
            </div>
            <div class="problems-panel">
                <div class="problem-information">
                    <a href="problem-teacher.html">Problema 1</a>
                </div>
            </div>
            <div class="problems-panel">
                <div class="problem-information">
                    <a href="problem-teacher.html">Problema 1</a>
                </div>
            </div>
            <div class="problems-panel">
                <div class="problem-information">
                    <a href="problem-teacher.html">Problema 1</a>
                </div>
            </div>
            <div class="problems-panel">
                <div class="problem-information">
                    <a href="problem-teacher.html">Problema 1</a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="footer">© 2023 InformatiX. All rights reserved.</section>
<script src="scripts/logout.js"></script>

</body>
</html>
